---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout	title="About" description="Description of ACPC Blog" pubDate={new Date("Dec 27, 2025")} author="Admin">
	<p>
		会津大学競技プログラミング部 (Aizu-Competitive-Programming-Club, ACPC) のブログです。
		AtCoder Beginner Contestなど各種コンテストに参加した感想を書きます。
	</p>
</Layout>
